.done {
    text-decoration: line-through;
}

input {
    font-size: 18px;
}

.box {
    margin:20px 0px;
}
.delete-btn {
    background-color:#e52020d9;
    margin-left: 20px;
    margin-right: 20px;
}